<div class="row">
	<div class="span12">
		<h2>Rediscover the <strong>brand new</strong> Eliseo app</h2>
	</div>
	<div class="span12">
		<h3 class="subtitle"><strong>CRM management made easy</strong></h3>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2><%= image_tag "graph.png" %></h2>
	</div>
</div>

<div class="row">
	<div class="span12 center separator">
		<h2>The <strong>CRM power</strong> your company needs</h2>
	</div>
</div>

<!-- features -->
<div class="row">
	<div class="feature-section">
		<div class="feature-item">
			<h4>Feature <strong>number 1</strong></h4>
			<div class="feature-detail">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing tempor erat placerat sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div> <!-- /feature-detail -->
		</div> <!-- /feature-item -->

		<div class="feature-item">
			<h4>Feature <strong>number 2</strong></h4>
			<div class="feature-detail">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing tempor erat placerat sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div> <!-- /feature-detail -->
		</div> <!-- /feature-item -->

		<div class="feature-item">
			<h4>Feature <strong>number 3</strong></h4>
			<div class="feature-detail">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris adipiscing tempor erat placerat sollicitudin. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div> <!-- /feature-detail -->
		</div> <!-- /feature-item -->
	</div> <!-- /feature-section -->
</div> <!-- /row -->