.box { 
	background-color: rgb(230, 230, 230);
}

a.btn.btn-primary {
	color: white;
}

.products p {
	font-size: 12px;
}

.products .price {
	font-size: 20px;
}

.products a.more {
	text-decoration: underline;
}

img.pull-left {
	margin-right: 10px;
}

.enjoy {
	font-size: 20px;
}